<a href="https://colab.research.google.com/github/Diggi14/project_Property2/blob/main/1_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [607]:
import pandas as pd
import numpy as np

In [608]:
df=pd.read_csv('/content/gurgaon_10k.csv')

/tmp/ipython-input-1584154932.py:1: DtypeWarning: Columns (66) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('/content/gurgaon_10k.csv')

In [609]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [610]:
df.head(5)

,PROP_ID,PHOTO_URL,MEDIUM_PHOTO_URL,PREFERENCE,DESCRIPTION,PROPERTY_TYPE,CITY,LOCALITY,TRANSACT_TYPE,OWNTYPE,BEDROOM_NUM,BATHROOM_NUM,BALCONY_NUM,PRICE_PER_UNIT_AREA,FURNISH,FACING,AGE,FLOOR_NUM,TOTAL_FLOOR,FEATURES,REGISTER_DATE,PROP_NAME,MIN_PRICE,MAX_PRICE,PRICE_SQFT,LISTING,BUILDING_ID,CARPET_SQFT,SUPERBUILTUP_SQFT,BROKERAGE,MAP_DETAILS,FSL_Data,MIN_AREA_SQFT,MAX_AREA_SQFT,FORMATTED,AMENITIES,TOP_USPS,PD_URL,EXPIRY_DATE,GROUP_NAME,AREA,PRICE,PROP_HEADING,PROP_DETAILS_URL,CLASS_HEADING,CLASS_LABEL,SECONDARY_TAGS,PROPERTY_IMAGES,THUMBNAIL_IMAGES,TOTAL_LANDMARK_COUNT,FORMATTED_LANDMARK_DETAILS,CONTACT_NAME,CONTACT_COMPANY_NAME,DEALER_PHOTO_URL,SOCIETY_NAME,BUILDING_NAME,CITY_ID,LOCALITY_WO_CITY,profile,xid,metadata,location,BUILTUP_SQFT,SUPER_SQFT,COMMON_FURNISHING_ATTRIBUTES,QUALITY_SCORE,FURNISHING_ATTRIBUTES
0,O71585872,https://mediacdn.99acres.com/media1/22409/13/4...,https://mediacdn.99acres.com/media1/22409/13/4...,S,4 bhk flat for resale in alpha corp gurgaon one,Residential Apartment,Gurgaon,Sector 84 Gurgaon,1.0,1,4.0,4,4.0,8766.0,4,1,2,14,26.0,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32","29th Sep, 2023",Alpha Corp GurgaonOne 84,26300000,26300000,8766.0,R,10532,3000.0,3434.0,263000.0,"{'LATITUDE': '28.4065341', 'LONGITUDE': '76.96...",{'LOCALITY_ID': 0},319.028902,319.028902,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...","['North Facing', 'Recently Renovated', 'Gated ...",/4-bhk-bedroom-apartment-flat-for-sale-in-alph...,2023-11-28 00:00:00,SPID_GROUP_SEARCH_NORMAL,3434 sq.ft.,2.63 Cr,4 BHK Flat in Sector 84 Gurgaon,4-bhk-bedroom-apartment-flat-for-sale-in-alpha...,Dealer: propertyline,Dealer,"['READY TO MOVE', 'RESALE']",['https://mediacdn.99acres.com/media1/22409/13...,['https://mediacdn.99acres.com/media1/22409/13...,10.0,"[{'category': 'Shopping', 'text': '4 Shoppings...",gaurav khosla,propertyline,https://static.99acres.com/images/dealer_pnava...,Alpha Corp GurgaonOne 84,Alpha Corp GurgaonOne 84,8,Sector 84,"{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...",NaN,NaN,NaN,NaN,NaN
1,T71585466,https://mediacdn.99acres.com/media1/22425/6/44...,https://mediacdn.99acres.com/media1/22425/6/44...,S,"Explore dlf ultima, an upscale ready-To-Move h...",Residential Apartment,Gurgaon,Sector 81 Gurgaon,1.0,1,4.0,4,3.0,21176.0,4,1,1,7,29.0,"44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...","29th Sep, 2023",DLF The Ultima,36000000,36000000,21176.0,R,12704,1700.0,2870.0,1.0,"{'LATITUDE': '28.3889069', 'LONGITUDE': '76.95...",{'LOCALITY_ID': 0},266.631610,266.631610,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...","['North Facing', ""st. xavier's within 500m"", '...",/4-bhk-bedroom-apartment-flat-for-sale-in-dlf-...,2023-11-28 00:00:00,SPID_GROUP_SEARCH_NORMAL,2870 sq.ft.,3.6 Cr,4 BHK Flat in Sector 81 Gurgaon,4-bhk-bedroom-apartment-flat-for-sale-in-dlf-t...,Dealer: MVD AND ASSOCIATES,Dealer,"['READY TO MOVE', 'RESALE', 'RERA']",['https://mediacdn.99acres.com/media1/22425/6/...,['https://mediacdn.99acres.com/media1/22425/6/...,9.0,"[{'category': 'MetroStation', 'text': '1 Metro...",Kamal,MVD AND ASSOCIATES,https://static.99acres.com/images/dealer_pnava...,DLF The Ultima,DLF The Ultima,8,Sector 81,"{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...",NaN,NaN,NaN,NaN,NaN
2,D71549524,https://mediacdn.99acres.com/media1/22386/13/4...,https://mediacdn.99acres.com/media1/22386/13/4...,R,A 3 bhk flat for rent in sector 66 gurgaon clo...,Residential Apartment,Gurgaon,Sector 66 Gurgaon,NaN,0,3.0,3,2.0,43.0,1,4,1,7,17.0,"44,23,45,24,46,25,47,28,29,30,31,32,33,12,17,3...","27th Sep, 2023",Emaar MGF The Palm Drive,85000,85000,43.0,R,3252,1450.0,1950.0,42000.0,"{'LATITUDE': '28.401406', 'LONGITUDE': '77.050...",{'LOCALITY_ID': 0},181.160850,181.160850,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","32,17,2,5,20,21,44,23,45,24,46,47,28,29,30,39,...","['3 Baths', 'Full Power Backup', 'huda city ce...",/3-bhk-bedroom-apartment-flat-for-rent-in-emaa...,2023-11-26 00:00:00,SPID_GROUP_SEARCH_NORMAL,1950 sq.ft.,"85,000",3 BHK Flat in Sector 66 Gurgaon,3-bhk-bedroom-apartment-flat-for-rent-in-emaar...,Dealer: 1st Nest Realtors,Dealer,['FURNISHED'],['https://mediacdn.99acres.com/media1/22386/13...,['https://mediacdn.99acres.com/media1/22386/13...,14.0,"[{'category': 'MetroStation', 'text': '1 Metro...",Sandeep,1st Nest Realtors,https://static.99acres.com/images/dealer_pnava...,Emaar MGF The Palm Drive,Emaar MGF The Palm Drive,8,Sector 66,"{'CONTACT_NAME': 'Sandeep', 'CONTACT_COMPANY_N...","{'PROJECTID': 19, 'PROJ_NAME': 'Emaar MGF The ...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...",1920.00,NaN,NaN,NaN,NaN
3,I71493958,https://mediacdn.99acres.com/media1/22353/14/4...,https://mediacdn.99acres.com/media1/22353/14/4...,S,Looking for a 3 bhk property for purchase in g...,Residential Apartment,Gurgaon,Sector 112 Gurgaon,1.0,1,3.0,3,3.0,13740.0,4,0,1,14,28.0,"33,23,12,25,26,1,2,3,5,6,9,40,30,41,31,20,21","23rd Sep, 2023",Experion Windchants,38500000,38500000,13740.0,R,9772,NaN,2802.0,1.0,"{'LATITUDE': '28.518677', 'LONGITUDE': '77.015...",{'LOCALITY_ID': 0},260.314206,260.314206,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","2,5,20,21,23,1,6,9,40,30,41,33,12,25,26,3,31,1...","['Gated Society', 'Overlooking Park/Garden', '...",/3-bhk-bedroom-apartment-flat-for-sale-in-expe...,2023-11-22 00:00:00,SPID_GROUP_SEARCH_NORMAL,2802 sq.ft.,3.85 Cr,3 BHK Flat in Sector 112 Gurgaon,3-bhk-bedroom-apartment-flat-for-sale-in-exper...,Dealer: GROW MORE,Dealer,"['READY TO MOVE', 'RESALE', 'RERA']",['https://mediacdn.99acres.com/media1/22353/14...,['https://mediacdn.99acres.com/media1/22353/14...,8.0,"[{'category': 'Shopping', 'text': '1 Shopping'...",Kohli,GROW MORE,https://mediacdn.99acres.com/media1/17762/9/35...,Experion Windchants,Experion Windchants,8,Sector 112,"{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 4342, 'PROJ_NAME': 'Experion Win...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...",2225.56,NaN,NaN,NaN,NaN
4,H71479412,https://mediacdn.99acres.com/media1/22352/4/44...,https://mediacdn.99acres.com/media1/22352/4/44...,R,This 4 bhk flat in sector 104 gurgaon is avail...,Residential Apartment,Gurgaon,Sector 104 Gurgaon,NaN,0,3.0,4,4.0,17.0,4,6,1,12,27.0,"44,23,12,46,25,26,28,1,2,3,6,9,40,30,41,31,20,21","23rd Sep, 2023",ATS Triumph,40000,40000,17.0,R,41176,NaN,2290.0,1.0,"{'LATITUDE': '28.47844', 'LONGITUDE': '76.9861...",{'LOCALITY_ID': 0},212.747870,212.747870,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","2,20,21,44,23,46,28,1,6,9,40,30,41,12,25,26,3,31","['4 Baths', 'Full Power Backup', 'Gated Societ...",/3-bhk-bedroom-apartment-flat-for-rent-in-ats-...,2023-11-21 00:00:00,SPID_GROUP_SEARCH_NORMAL,2290 sq.ft.,"40,000",3 BHK Flat in Sector 104 Gurgaon,3-bhk-bedroom-apartment-flat-for-rent-in-ats-t...,Dealer: GROW MORE,Dealer,[],['https://mediacdn.99acres.com/media1/22352/4/...,['https://mediacdn.99acres.com/media1/22352/4/...,14.0,"[{'category': 'MetroStation', 'text': '1 Metro...",Kohli,GROW MORE,https://mediacdn.99acres.com/media1/17762/9/35...,ATS Triumph,ATS Triumph,8,Sector 104,"{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 25860, 'PROJ_NAME': 'ATS Triumph...","{'PROP_PHOTO_COUNT': '14', 'PROP_VIDEO_COUNT':...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...",NaN,NaN,NaN,NaN,NaN

In [611]:
df.drop(['PROP_ID','LISTING','BUILDING_ID','BROKERAGE','FSL_Data','PD_URL','EXPIRY_DATE','GROUP_NAME','PROP_DETAILS_URL','CLASS_HEADING','CLASS_LABEL','PROPERTY_IMAGES','THUMBNAIL_IMAGES','TOTAL_LANDMARK_COUNT','CONTACT_NAME', 'CONTACT_COMPANY_NAME','DEALER_PHOTO_URL','CITY_ID','profile','xid','metadata','COMMON_FURNISHING_ATTRIBUTES','QUALITY_SCORE','FURNISHING_ATTRIBUTES'],axis=1,inplace=True)

In [612]:
df.drop(['TRANSACT_TYPE','PHOTO_URL', 'MEDIUM_PHOTO_URL','BUILTUP_SQFT','SUPER_SQFT','CITY','PRICE_PER_UNIT_AREA','REGISTER_DATE','PROP_NAME','MIN_AREA_SQFT', 'MAX_AREA_SQFT','MIN_PRICE','MAX_PRICE','PRICE_SQFT','FORMATTED','SECONDARY_TAGS'],axis=1,inplace=True)

In [613]:
df.drop(['LOCALITY','location','SOCIETY_NAME','BUILDING_NAME'],axis=1,inplace=True)

In [614]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10704 entries, 0 to 10703
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PREFERENCE                  10704 non-null  object
 1   DESCRIPTION                 10704 non-null  object
 2   PROPERTY_TYPE               10704 non-null  object
 3   OWNTYPE                     10704 non-null  int64
 4   BEDROOM_NUM                 10511 non-null  float64
 5   BATHROOM_NUM                10704 non-null  int64
 6   BALCONY_NUM                 10501 non-null  float64
 7   FURNISH                     10704 non-null  int64
 8   FACING                      10704 non-null  int64
 9   AGE                         10704 non-null  int64
 10  FLOOR_NUM                   9804 non-null   object
 11  TOTAL_FLOOR                 10697 non-null  float64
 12  FEATURES                    10704 non-null  object
 13  CARPET_SQFT                 6539 non-null   float64
 14  SUPERBUILTUP_SQFT           6712 non-null   float64
 15  MAP_DETAILS                 10704 non-null  object
 16  AMENITIES                   10620 non-null  object
 17  TOP_USPS                    8179 non-null   object
 18  AREA                        10704 non-null  object
 19  PRICE                       10704 non-null  object
 20  PROP_HEADING                10704 non-null  object
 21  FORMATTED_LANDMARK_DETAILS  10638 non-null  object
 22  LOCALITY_WO_CITY            10704 non-null  object
dtypes: float64(5), int64(5), object(13)
memory usage: 1.9+ MB

In [615]:
df['BEDROOM_NUM'].isna().sum()

np.int64(193)

In [616]:
x=df[(df['DESCRIPTION'].str.contains('bhk')) & (df['BEDROOM_NUM'].isna())]['DESCRIPTION'].index

In [617]:
df.loc[x,'BEDROOM_NUM']=df.loc[x,'DESCRIPTION'].str.lower().str.split('bhk').str.get(0).str[-2:]

/tmp/ipython-input-3860660771.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[' 3' ' 3' ' 2' '3 ' '3 ' '3 ' '3 ' '3 ' ' 3' '3 ' ' 4']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[x,'BEDROOM_NUM']=df.loc[x,'DESCRIPTION'].str.lower().str.split('bhk').str.get(0).str[-2:]

In [618]:
df['BEDROOM_NUM'].isna().sum()

np.int64(182)

In [619]:
df[ (df['BEDROOM_NUM'].isna())]

,PREFERENCE,DESCRIPTION,PROPERTY_TYPE,OWNTYPE,BEDROOM_NUM,BATHROOM_NUM,BALCONY_NUM,FURNISH,FACING,AGE,FLOOR_NUM,TOTAL_FLOOR,FEATURES,CARPET_SQFT,SUPERBUILTUP_SQFT,MAP_DETAILS,AMENITIES,TOP_USPS,AREA,PRICE,PROP_HEADING,FORMATTED_LANDMARK_DETAILS,LOCALITY_WO_CITY
8,S,"Experion the westerlies in sector-108, gurgaon...",Residential Land,1,NaN,0,NaN,0,0,0,NaN,3.0,23,NaN,NaN,"{'LATITUDE': '28.510599', 'LONGITUDE': '76.988...",23,['Overlooking Main Road'],1629 sq.ft.,2.17 Cr,Residential land / Plot in Sector 108 Gurgaon,"[{'category': 'Shopping', 'text': '1 Shopping'...",Sector 108
10,S,260 sq.Yards plot is available for sale in g99...,Residential Land,1,NaN,0,NaN,0,4,0,NaN,2.0,23,NaN,NaN,"{'LATITUDE': '28.463121', 'LONGITUDE': '76.962...",23,NaN,2340 sq.ft.,4.16 Cr,Residential land / Plot in Sector 99 Gurgaon,"[{'category': 'Shopping', 'text': '1 Shopping'...",Sector 99
15,S,"Located just a few steps away from delhi, expe...",Residential Land,1,NaN,0,NaN,0,0,0,NaN,3.0,23,NaN,NaN,"{'LATITUDE': '28.510599', 'LONGITUDE': '76.988...",23,['Overlooking Park/Garden'],1935 sq.ft.,2.58 Cr,Residential land / Plot in Sector 108 Gurgaon,"[{'category': 'Shopping', 'text': '1 Shopping'...",Sector 108
83,S,Experion the westerlies gurgaon sector 108\nEx...,Residential Land,1,NaN,0,NaN,0,5,0,NaN,4.0,"23,24,26,5",NaN,NaN,"{'LATITUDE': '28.510599', 'LONGITUDE': '76.988...","5,23,24,26","['North-East Facing', 'Gayanda within 500m', '...",4968 sq.ft.,6.34 Cr,Residential land / Plot in Sector 108 Gurgaon,"[{'category': 'Shopping', 'text': '1 Shopping'...",Sector 108
84,S,Plot for sale in sushant lok-3 sec-57 gurgaon ...,Residential Land,1,NaN,0,NaN,0,5,0,NaN,3.0,"23,24,5",NaN,NaN,"{'LATITUDE': '28.42093', 'LONGITUDE': '77.0811...","5,23,24","['North-East Facing', 'Corner Property', 'Over...",2088 sq.ft.,3.7 Cr,Residential land / Plot in Block B Sushant Lok...,"[{'category': 'ReligiousPlace', 'text': '2 Rel...",Block B Sushant Lok Phase - 3
108,S,D block north facing plot for sale conatct for...,Residential Land,1,NaN,0,NaN,0,1,0,NaN,4.0,"23,24,26,5",NaN,NaN,"{'LATITUDE': '28.288781720029', 'LONGITUDE': '...","5,23,24,26",NaN,242 sq.ft.,3.68 Cr,Residential land / Plot in Sector-33 Sohna,"[{'category': 'MetroStation', 'text': '1 Metro...",Sector-33 Sohna
118,S,360sq.Yd south facing plot for sale in south c...,Residential Land,1,NaN,0,NaN,0,2,0,NaN,4.0,"23,24,26",NaN,NaN,"{'LATITUDE': '28.418353', 'LONGITUDE': '77.053...","23,24,26","['park hospital within 1.5km', 'unitech arcedi...",3240 sq.ft.,7.2 Cr,Residential land / Plot in South City 2,"[{'category': 'ATM', 'text': '2 ATMs', 'classN...",South City 2
129,S,The vatika farmland group brings you another t...,Residential Land,1,NaN,0,NaN,0,5,0,NaN,1.0,"23,24,26,5",NaN,NaN,"{'LATITUDE': '28.249352', 'LONGITUDE': '77.067...","5,23,24,26","['Corner Property', 'GD GOENKA UNIVERSITY with...",784080 sq.ft.,30 Cr,Residential land / Plot in Sohna,"[{'category': 'Hospital', 'text': '2 Hospitals...",Sohna
138,S,"Located on nh-248a now, enjoy enviable connect...",Residential Land,1,NaN,0,NaN,0,1,0,NaN,4.0,"23,26",NaN,NaN,"{'LATITUDE': '28.250651', 'LONGITUDE': '77.079...","23,26","['Corner Property', 'Overlooking Park/Garden',...",1125 sq.ft.,1.15 Cr,Residential land / Plot in Sohna,"[{'category': 'Shopping', 'text': '1 Shopping'...",Sohna
147,S,"At shiva-Som valley, you experience the perfec...",Residential Land,1,NaN,0,NaN,0,3,0,NaN,4.0,23,NaN,NaN,"{'LATITUDE': '28.28376', 'LONGITUDE': '77.0653...",23,"['East Facing', 'Corner Property', 'Overlookin...",1152 sq.ft.,90.8 L,Residential land / Plot in Sector-35 Sohna,"[{'category': 'Shopping', 'text': '1 Shopping'...",Sector-35 Sohna
151,S,"At shiva-Som valley, you experience the perfec...",Residential Land,1,NaN,0,NaN,0,7,0,NaN,4.0,"23,24,26,5",NaN,NaN,"{'LATITUDE': '28.28376', 'LONGITUDE': '77.0653...","5,23,24,26","['Corner Property', 'Overlooking Park/Garden',...",1512 sq.ft.,1.18 Cr,Residential land / Plot in Sector-35 Sohna,"[{'category': 'Shopping', 'text': '1 Shopping'...",Sector-35 Sohna
169,S,300 sqyds plot on sale on fresh booking at vat...,Residential Land,1,NaN,0,NaN,0,5,0,NaN,3.0,"23,24,26",NaN,NaN,"{'LATITUDE': '28.442343', 'LONGITUDE': '76.957...","23,24,26","['North-East Facing', 'Corner Property', 'Over...",251 sq.ft.,3.6 Cr,Residential land / Plot in Sector 88A Gurgaon,"[{'category': 'Shopping', 'text': '1 Shopping'...",Sector 88A
170,S,"149 sq.Yds plot on sale at satya merano green,...",Residential Land,1,NaN,0,NaN,0,3,0,NaN,4.0,"23,24,26",NaN,NaN,"{'LATITUDE': '28.431178', 'LONGITUDE': '76.961...","23,24,26","['East Facing', 'Overlooking Main Road', 'Rain...",1345 sq.ft.,1.79 Cr,Residential land / Plot in Sector 99A Gurgaon,"[{'category': 'Shopping', 'text': '1 Shopping'...",Sector 99A
182,S,Plot on sale at satya merano greens sector 99a...,Residential Land,1,NaN,0,NaN,0,3,0,NaN,3.0,"23,24,26,5",NaN,NaN,"{'LATITUDE': '28.431178', 'LONGITUDE': '76.961...","5,23,24,26",['East Facing'],1345 sq.ft.,1.56 Cr,Residential land / Plot in Sector 99A Gurgaon,"[{'category': 'Shopping', 'text': '1 Shopping'...",Sector 99A
194,S,180 sq.Yds plot on sale at vatika express city...,Residential Land,1,NaN,0,NaN,0,5,0,NaN,3.0,"23,24,26",NaN,NaN,"{'LATITUDE': '28.447059', 'LONGITUDE': '76.958...","23,24,26","['North-East Facing', 'Overlooking Main Road',...",1620 sq.ft.,2.16 Cr,Residential land / Plot in Sector 88 Gurgaon,"[{'category': 'Shopping', 'text': '1 Shopping'...",Sector 88
196,S,Available 183 to 700 sqyd plots in gated towns...,Residential Land,1,NaN,0,NaN,0,5,0,NaN,4.0,"23,24,26",NaN,NaN,"{'LATITUDE': '28.422128', 'LONGITUDE': '76.944...","23,24,26","['North-East Facing', 'St xaviers School withi...",2295 sq.ft.,Price on Request,Residential land / Plot in Sector 89 Gurgaon,"[{'category': 'Shopping', 'text': '1 Shopping'...",Sector 89
197,S,"502 sq.Yds plot on sale in ansal esencia, sect...",Residential Land,1,NaN,0,NaN,0,4,0,NaN,3.0,"23,26",NaN,NaN,"{'LATITUDE': '28.4320243', 'LONGITUDE': '76.98...","23,26","['Mall within 250m', 'Rain Water Harvesting']",4520 sq.ft.,7.05 Cr,Residential land / Plot in Sector 67 Gurgaon,"[{'category': 'MetroStation', 'text': '1 Metro...",Sector 67
209,S,Confirm deal 240 sqyard plot for sale lush gre...,Residential Land,1,NaN,0,NaN,0,5,0,NaN,4.0,"23,26,5",NaN,NaN,"{'LATITUDE': '28.42049', 'LONGITUDE': '77.0632...","5,23,26","['North-East Facing', 'Overlooking Main Road',...",2160 sq.ft.,8.25 Cr,Residential land / Plot in Nirvana Country,"[{'category': 'ReligiousPlace', 'text': '1 Rel...",Nirvana Country
211,S,This is land on main highway on jhajjar road,Residential Land,1,NaN,0,NaN,0,5,0,NaN,4.0,"24,26,5",NaN,NaN,"{'LATITUDE': '28.4595', 'LONGITUDE': '77.02664...","5,24,26","['Rain Water Harvesting', 'Overlooking Main Ro...",435600 sq.ft.,21 Cr,Residential land / Plot in machroli,"[{'category': 'ReligiousPlace', 'text': '1 Rel...",machroli
224,S,Its a very beautiful north & park facing plot ...,Residential Land,1,NaN,0,NaN,0,1,0,NaN,4.0,"23,24,5",NaN,NaN,"{'LATITUDE': '28.4320243', 'LONGITUDE': '76.98...","5,23,24","['North Facing', 'Overlooking Park/Garden']",3015 sq.ft.,5.2 Cr,Residential land / Plot in Sector 67 Gurgaon,"[{'category': 'MetroStation', 'text': '1 Metro...",Sector 67
235,S,Property is available in r block phase 2 of ne...,Residential Land,4,NaN,0,NaN,0,3,0,NaN,4.0,24,NaN,NaN,"{'LATITUDE': '28.51792', 'LONGITUDE': '77.0186...",24,"['East Facing', 'Overlooking Main Road']",14067 sq.ft.,7.03 Cr,Residential land / Plot in New Palam Vihar Pha...,"[{'category': 'Shopping', 'text': '2 Shoppings...",New Palam Vihar Phase 2
240,S,"This is north facing, corner 15/15 road facing...",Residential Land,1,NaN,0,NaN,0,1,0,NaN,4.0,"23,24,26,5",NaN,NaN,"{'LATITUDE': '28.407289', 'LONGITUDE': '77.069...","5,23,24,26","['North Facing', 'Corner Property', 'Overlooki...",4500 sq.ft.,11.5 Cr,Residential land / Plot in Sector 65 Gurgaon,"[{'category': 'MetroStation', 'text': '1 Metro...",Sector 65
241,S,In new palm vihar phase 2\nNear 75 mtr. Road,Residential Land,1,NaN,0,NaN,0,5,0,NaN,4.0,N,NaN,NaN,"{'LATITUDE': '28.508394', 'LONGITUDE': '77.020...",NaN,"['North-East Facing', 'Overlooking Main Road']",4500 sq.ft.,2 Cr,Residential land / Plot in New Palam Vihar,"[{'category': 'Shopping', 'text': '3 Shoppings...",New Palam Vihar
244,S,This farm house is located on the prime locati...,Residential Land,1,NaN,0,NaN,0,5,0,NaN,2.0,"23,24,26",NaN,NaN,"{'LATITUDE': '28.249352', 'LONGITUDE': '77.067...","23,24,26","['North-East Facing', 'Overlooking Park/Garden...",43560 sq.ft.,1.25 Cr,Residential land / Plot in Sohna,"[{'category': 'Hospital', 'text': '2 Hospitals...",Sohna
245,S,This property is on the prime location of sohn...,Residential Land,1,NaN,0,NaN,0,5,0,NaN,2.0,"23,24,26,5",NaN,NaN,"{'LATITUDE': '28.249352', 'LONGITUDE': '77.067...","5,23,24,26","['North-East Facing', 'Corner Property', 'Over...",43560 sq.ft.,3 Cr,Residential land / Plot in Sohna,"[{'category': 'Hospital', 'text': '2 Hospitals...",Sohna
367,S,263 sqyd plot available for sale in sector 57 ...,Residential Land,1,NaN,0,NaN,0,5,0,NaN,3.0,26,NaN,NaN,"{'LATITUDE': '28.4234414', 'LONGITUDE': '77.07...",26,"['North-East Facing', 'rapid metro Nearby', 'h...",2367 sq.ft.,5.65 Cr,Residential land / Plot in Sector 57 Gurgaon,"[{'category': 'ReligiousPlace', 'text': '2 Rel...",Sector 57
374,S,Its a 2 side plot with 5 acre park facing. For...,Residential Land,1,NaN,0,NaN,0,1,0,NaN,3.0,"23,24,26,5",NaN,NaN,"{'LATITUDE': '28.4655344', 'LONGITUDE': '76.96...","5,23,24,26","['North Facing', 'ocus Nearby', 'Corner Proper...",3834 sq.ft.,6.3 Cr,Residential land / Plot in Sector 99 Gurgaon,"[{'category': 'Shopping', 'text': '1 Shopping'...",Sector 99
447,S,18m wide road plot \nCheaper price than market,Residential Land,1,NaN,0,NaN,0,5,0,NaN,4.0,"23,24,26,5",NaN,NaN,"{'LATITUDE': '28.453807', 'LONGITUDE': '77.049...","5,23,24,26",NaN,1512 sq.ft.,3.36 Cr,Residential land / Plot in Sector 31 Gurgaon,"[{'category': 'ReligiousPlace', 'text': '1 Rel...",Sector 31
463,S,Prime location\nWalking distance market school...,Residential Land,1,NaN,0,NaN,0,5,0,NaN,4.0,"24,26,5",NaN,NaN,"{'LATITUDE': '28.4345552', 'LONGITUDE': '77.05...","5,24,26","['North-East Facing', 'Overlooking Main Road',...",2367 sq.ft.,4.7 Cr,Residential land / Plot in Sector 46 Gurgaon,"[{'category': 'ATM', 'text': '4 ATMs', 'classN...",Sector 46
467,S,Raheja vanya city plots in sector 99a gurgaon ...,Residential Land,1,NaN,0,NaN,0,8,0,NaN,4.0,"23,24,26,5",NaN,NaN,"{'LATITUDE': '28.456103', 'LONGITUDE': '76.954...","5,23,24,26",NaN,1503 sq.ft.,1.84 Cr,Residential land / Plot in Sector 99A Gurgaon,"[{'category': 'Shopping', 'text': '1 Shopping'...",Sector 99A
468,S,Raheja vanya city plots in sector 99a gurgaon ...,Residential Land,1,NaN,0,NaN,0,6,0,NaN,4.0,"23,24,26,5",NaN,NaN,"{'LATITUDE': '28.456103', 'LONGITUDE': '76.954...","5,23,24,26",NaN,1404 sq.ft.,1.72 Cr,Residential land / Plot in Sector 99A Gurgaon,"[{'category': 'Shopping', 'text': '1 Shopping'...",Sector 99A
541,S,"Near to 60 mtr road , low density project , fo...",Residential Land,1,NaN,0,NaN,0,2,0,NaN,3.0,"23,24,26,5",NaN,NaN,"{'LATITUDE': '28.283876', 'LONGITUDE': '77.068...","5,23,24,26",['Rain Water Harvesting'],2700 sq.ft.,4.3 Cr,Residential land / Plot in Sector-33 Sohna,"[{'category': 'Shopping', 'text': '1 Shopping'...",Sector-33 Sohna
543,S,"Block f , west facing near to park and main ro...",Residential Land,1,NaN,0,NaN,0,4,0,NaN,3.0,"23,24,26,5",NaN,NaN,"{'LATITUDE': '28.281868', 'LONGITUDE': '77.066...","5,23,24,26",['Rain Water Harvesting'],2250 sq.ft.,3.75 Cr,Residential land / Plot in Sector-33 Sohna,"[{'category': 'MetroStation', 'text': '1 Metro...",Sector-33 Sohna
544,S,"Block f , west facing plot , near to park and ...",Residential Land,1,NaN,0,NaN,0,4,0,NaN,3.0,"23,24,26,5",NaN,NaN,"{'LATITUDE': '28.283876', 'LONGITUDE': '77.068...","5,23,24,26",['Rain Water Harvesting'],2250 sq.ft.,3.75 Cr,Residential land / Plot in Sector-33 Sohna,"[{'category': 'Shopping', 'text': '1 Shopping'...",Sector-33 Sohna
553,S,500 sq.Yard plot available for sale in dlf pha...,Residential Land,1,NaN,0,NaN,0,3,0,NaN,4.0,26,NaN,NaN,"{'LATITUDE': '28.4731287', 'LONGITUDE': '77.08...",26,"['East Facing', 'Corner Property', 'Overlookin...",500 sq.ft.,17.5 Cr,Residential land / Plot in Sector 26 Gurgaon,"[{'category': 'MetroStation', 'text': '5 Metro...",Sector 26
561,S,Vatika plot located in prime location near by ...,Residential Land,1,NaN,0,NaN,0,3,0,NaN,4.0,23,NaN,NaN,"{'LATITUDE': '28.390392', 'LONGITUDE': '76.969...",23,"['East Facing', 'Corner Property']",2700 sq.ft.,3.63 Cr,Residential land / Plot in Sector 83 Gurgaon,"[{'category': 'Shopping', 'text': '1 Shopping'...",Sector 83
565,S,Prime location plot for sale in 263 sq.Yard on...,Residential Land,1,NaN,0,NaN,0,4,0,NaN,3.0,26,NaN,NaN,"{'LATITUDE': '28.4532404', 'LONGITUDE': '77.08...",26,"['Overlooking Main Road', 'Rain Water Harvesti...",263 sq.ft.,5.92 Cr,Residential land / Plot in Sector 43 Gurgaon,"[{'category': 'MetroStation', 'text': '3 Metro...",Sector 43
623,S,10 marla plot at great location corner near pa...,Residential Land,1,NaN,0,NaN,0,1,0,NaN,4.0,"23,24",NaN,NaN,"{'LATITUDE': '28.465767', 'LONGITUDE': '77.091...","23,24","['North Facing', 'Corner Property', 'Overlooki...",2367 sq.ft.,6.44 Cr,Residential land / Plot in Sector 27 Gurgaon,"[{'category': 'MetroStation', 'text': '3 Metro...",Sector 27
624,S,10 marla plot at great location corner near pa...,Residential Land,1,NaN,0,NaN,0,3,0,NaN,4.0,"24,5",NaN,NaN,"{'LATITUDE': '28.465767', 'LONGITUDE': '77.091...","5,24","['Corner Property', 'Overlooking Park/Garden']",2367 sq.ft.,6.58 Cr,Residential land / Plot in Sector 27 Gurgaon,"[{'category': 'MetroStation', 'text': '3 Metro...",Sector 27
667,S,Very good township for investment in plot flat...,Residential Land,1,NaN,0,NaN,0,5,0,NaN,4.0,"23,24,26,5",NaN,NaN,"{'LATITUDE': '28.510599', 'LONGITUDE': '76.988...","5,23,24,26","['North-East Facing', 'Corner Property', 'Over...",181 sq.ft.,2.25 Cr,Residential land / Plot in Sector 108 Gurgaon,"[{'category': 'Shopping', 'text': '1 Shopping'...",Sector 108
714,S,Adani oyster grande gurgaon is coming up in se...,Residential Land,1,NaN,0,NaN,0,5,0,NaN,4.0,"23,24,26,5",NaN,NaN,"{'LATITUDE': '28.4746969', 'LONGITUDE': '76.96...","5,23,24,26",NaN,1280 sq.ft.,1.65 Cr,Residential land / Plot in Sector 102 Gurgaon,"[{'category': 'MetroStation', 'text': '1 Metro...",Sector 102
715,S,Adani oyster grande gurgaon is coming up in se...,Residential Land,1,NaN,0,NaN,0,5,0,NaN,4.0,"23,24,26,5",NaN,NaN,"{'LATITUDE': '28.4746969', 'LONGITUDE': '76.96...","5,23,24,26","['North-East Facing', 'hudda metro Nearby', '...",1611 sq.ft.,2.5 Cr,Residential land / Plot in Sector 102 Gurgaon,"[{'category': 'MetroStation', 'text': '1 Metro...",Sector 102
727,S,Very good plot for school hospital and any kin...,Residential Land,1,NaN,0,NaN,0,5,0,NaN,4.0,"23,24,26,5",NaN,NaN,"{'LATITUDE': '28.5333653', 'LONGITUDE': '77.01...","5,23,24,26","['North-East Facing', 'Overlooking Main Road',...",58500 sq.ft.,30 Cr,Residential land / Plot in Sector 114 Gurgaon,"[{'category': 'Hospital', 'text': '2 Hospitals...",Sector 114
731,S,It is 500 sqy plot south east facing in sec 54...,Residential Land,1,NaN,0,NaN,0,7,0,NaN,3.0,23,NaN,NaN,"{'LATITUDE': '28.4439713', 'LONGITUDE': '77.11...",23,NaN,4500 sq.ft.,15.55 Cr,Residential land / Plot in Sector 54 Gurgaon,"[{'category': 'MetroStation', 'text': '2 Metro...",Sector 54
736,S,215 sqyd pair plot available for sale in a sus...,Residential Land,1,NaN,0,NaN,0,4,0,NaN,3.0,N,NaN,NaN,"{'LATITUDE': '28.454279', 'LONGITUDE': '77.085...",NaN,NaN,3870 sq.ft.,10.5 Cr,Residential land / Plot in C Block Sushant Lok...,"[{'category': 'MetroStation', 'text': '2 Metro...",C Block Sushant Lok Phase 1
746,S,This property is always very much in demand at...,Residential Land,1,NaN,0,NaN,0,1,0,NaN,4.0,"23,24,26,5",NaN,NaN,"{'LATITUDE': '28.474861', 'LONGITUDE': '76.976...","5,23,24,26","['North Facing', 'Corner Property', 'Overlooki...",2250 sq.ft.,4 Cr,Residential land / Plot in Sector 102 Gurgaon,"[{'category': 'Shopping', 'text': '2 Shoppings...",Sector 102
753,S,Plot available in sushant lok phase-i,Residential Land,1,NaN,0,NaN,0,5,0,NaN,4.0,23,NaN,NaN,"{'LATITUDE': '28.455618', 'LONGITUDE': '77.083...",23,"['North-East Facing', 'Corner Property', 'Over...",2700 sq.ft.,7 Cr,Residential land / Plot in C Block Sushant Lok...,"[{'category': 'MetroStation', 'text': '2 Metro...",C Block Sushant Lok Phase 1
775,S,Plots are full in demand with good aprication ...,Residential Land,1,NaN,0,NaN,0,5,0,NaN,4.0,"23,24,26",NaN,NaN,"{'LATITUDE': '28.390392', 'LONGITUDE': '76.969...","23,24,26","['North-East Facing', 'Overlooking Main Road',...",300 sq.ft.,3.5 Cr,Residential land / Plot in Sector 83 Gurgaon,"[{'category': 'Shopping', 'text': '1 Shopping'...",Sector 83
777,S,Very good plot for sale at prime location gurg...,Residential Land,1,NaN,0,NaN,0,5,0,NaN,4.0,"23,24,26,5",NaN,NaN,"{'LATITUDE': '28.50471', 'LONGITUDE': '77.0187...","5,23,24,26","['North-East Facing', 'Corner Property', 'Over...",100 sq.ft.,75 L,Residential land / Plot in New Palam Vihar Pha...,"[{'category': 'Shopping', 'text': '2 Shoppings...",New Palam Vihar Phase 1
802,S,"382 sq yards, 2 side open, corner plot is avai...",Residential Land,1,NaN,0,NaN,0,4,0,NaN,3.0,"23,24,26,5",NaN,NaN,"{'LATITUDE': '28.397809', 'LONGITUDE': '77.087...","5,23,24,26","['Corner Property', 'Overlooking Main Road', '...",3438 sq.ft.,6.12 Cr,Residential land / Plot in Sector 63 Gurgaon,"[{'category': 'MetroStation', 'text': '1 Metro...",Sector 63
846,S,Step into a whole new phase of your life! Our ...,Residential Land,1,NaN,0,NaN,0,3,0,NaN,4.0,"23,24,26,5",NaN,NaN,"{'LATITUDE': '28.392382', 'LONGITUDE': '77.089...","5,23,24,26",NaN,1611 sq.ft.,3.77 Cr,Residential land / Plot in Sector 63A Gurgaon,"[{'category': 'MetroStation', 'text': '1 Metro...",Sector 63A
847,S,This is 275 sqy corner plot east and south fac...,Residential Land,1,NaN,0,NaN,0,2,0,NaN,3.0,"23,26",NaN,NaN,"{'LATITUDE': '28.4439713', 'LONGITUDE': '77.11...","23,26",NaN,2475 sq.ft.,9 Cr,Residential land / Plot in Sector 54 Gurgaon,"[{'category': 'MetroStation', 'text': '2 Metro...",Sector 54
852,S,This property is available for sale in uppal g...,Residential Land,1,NaN,0,NaN,0,5,0,NaN,4.0,"23,24,26,5",NaN,NaN,"{'LATITUDE': '28.4655344', 'LONGITUDE': '76.96...","5,23,24,26","['North-East Facing', 'Overlooking Park/Garden...",3600 sq.ft.,5.08 Cr,Residential land / Plot in Sector 99 Gurgaon,"[{'category': 'Hospital', 'text': '1 Hospital'...",Sector 99
858,S,Upcoming metro hub and well connected to dwark...,Residential Land,1,NaN,0,NaN,0,7,0,NaN,4.0,5,NaN,NaN,"{'LATITUDE': '28.451194', 'LONGITUDE': '76.989...",5,NaN,1098 sq.ft.,1.44 Cr,Residential land / Plot in Sector 37C Gurgaon,"[{'category': 'Hospital', 'text': '30 Hospital...",Sector 37C
883,S,This is 160 sqy plot park facing and back side...,Residential Land,1,NaN,0,NaN,0,4,0,NaN,3.0,"23,24,26",NaN,NaN,"{'LATITUDE': '28.4595', 'LONGITUDE': '77.02664...","23,24,26",NaN,1453 sq.ft.,4.15 Cr,Residential land / Plot in Sector 54 Gurgaon,"[{'category': 'ReligiousPlace', 'text': '1 Rel...",Sector 54
884,S,Sec 54 suncity township is on golf course road...,Residential Land,1,NaN,0,NaN,0,2,0,NaN,3.0,"23,26",NaN,NaN,"{'LATITUDE': '28.4439713', 'LONGITUDE': '77.11...","23,26",NaN,3229 sq.ft.,9.8 Cr,Residential land / Plot in Sector 54 Gurgaon,"[{'category': 'MetroStation', 'text': '2 Metro...",Sector 54
885,S,The suncity township sec 54 is on golf course ...,Residential Land,1,NaN,0,NaN,0,4,0,NaN,3.0,"23,24,26",NaN,NaN,"{'LATITUDE': '28.4595', 'LONGITUDE': '77.02664...","23,24,26",NaN,3229 sq.ft.,10.5 Cr,Residential land / Plot in Sector 54 Gurgaon,"[{'category': 'ReligiousPlace', 'text': '1 Rel...",Sector 54

In [620]:
df.drop(df[ (df['PROPERTY_TYPE']=='Residential Land')].index,inplace=True)

In [621]:
df['PROPERTY_TYPE'].value_counts()

PROPERTY_TYPE
Residential Apartment        6999
Independent/Builder Floor    2805
Independent House/Villa       717
Name: count, dtype: int64

In [622]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10521 entries, 0 to 10703
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PREFERENCE                  10521 non-null  object
 1   DESCRIPTION                 10521 non-null  object
 2   PROPERTY_TYPE               10521 non-null  object
 3   OWNTYPE                     10521 non-null  int64
 4   BEDROOM_NUM                 10517 non-null  object
 5   BATHROOM_NUM                10521 non-null  int64
 6   BALCONY_NUM                 10501 non-null  float64
 7   FURNISH                     10521 non-null  int64
 8   FACING                      10521 non-null  int64
 9   AGE                         10521 non-null  int64
 10  FLOOR_NUM                   9804 non-null   object
 11  TOTAL_FLOOR                 10519 non-null  float64
 12  FEATURES                    10521 non-null  object
 13  CARPET_SQFT                 6539 non-null   float64
 14  SUPERBUILTUP_SQFT           6712 non-null   float64
 15  MAP_DETAILS                 10521 non-null  object
 16  AMENITIES                   10455 non-null  object
 17  TOP_USPS                    8050 non-null   object
 18  AREA                        10521 non-null  object
 19  PRICE                       10521 non-null  object
 20  PROP_HEADING                10521 non-null  object
 21  FORMATTED_LANDMARK_DETAILS  10455 non-null  object
 22  LOCALITY_WO_CITY            10521 non-null  object
dtypes: float64(4), int64(5), object(14)
memory usage: 1.9+ MB

In [623]:
x=df[df['FLOOR_NUM'].isna()].index

In [624]:
df.loc[x,'FLOOR_NUM']=df.loc[x,'TOTAL_FLOOR']

In [625]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10521 entries, 0 to 10703
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PREFERENCE                  10521 non-null  object
 1   DESCRIPTION                 10521 non-null  object
 2   PROPERTY_TYPE               10521 non-null  object
 3   OWNTYPE                     10521 non-null  int64
 4   BEDROOM_NUM                 10517 non-null  object
 5   BATHROOM_NUM                10521 non-null  int64
 6   BALCONY_NUM                 10501 non-null  float64
 7   FURNISH                     10521 non-null  int64
 8   FACING                      10521 non-null  int64
 9   AGE                         10521 non-null  int64
 10  FLOOR_NUM                   10519 non-null  object
 11  TOTAL_FLOOR                 10519 non-null  float64
 12  FEATURES                    10521 non-null  object
 13  CARPET_SQFT                 6539 non-null   float64
 14  SUPERBUILTUP_SQFT           6712 non-null   float64
 15  MAP_DETAILS                 10521 non-null  object
 16  AMENITIES                   10455 non-null  object
 17  TOP_USPS                    8050 non-null   object
 18  AREA                        10521 non-null  object
 19  PRICE                       10521 non-null  object
 20  PROP_HEADING                10521 non-null  object
 21  FORMATTED_LANDMARK_DETAILS  10455 non-null  object
 22  LOCALITY_WO_CITY            10521 non-null  object
dtypes: float64(4), int64(5), object(14)
memory usage: 2.2+ MB

In [626]:
df['SUPERBUILTUP_SQFT']=df['AREA']

In [627]:
df.drop(['AREA','DESCRIPTION','CARPET_SQFT'],axis=1,inplace=True)

In [628]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10521 entries, 0 to 10703
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PREFERENCE                  10521 non-null  object
 1   PROPERTY_TYPE               10521 non-null  object
 2   OWNTYPE                     10521 non-null  int64
 3   BEDROOM_NUM                 10517 non-null  object
 4   BATHROOM_NUM                10521 non-null  int64
 5   BALCONY_NUM                 10501 non-null  float64
 6   FURNISH                     10521 non-null  int64
 7   FACING                      10521 non-null  int64
 8   AGE                         10521 non-null  int64
 9   FLOOR_NUM                   10519 non-null  object
 10  TOTAL_FLOOR                 10519 non-null  float64
 11  FEATURES                    10521 non-null  object
 12  SUPERBUILTUP_SQFT           10521 non-null  object
 13  MAP_DETAILS                 10521 non-null  object
 14  AMENITIES                   10455 non-null  object
 15  TOP_USPS                    8050 non-null   object
 16  PRICE                       10521 non-null  object
 17  PROP_HEADING                10521 non-null  object
 18  FORMATTED_LANDMARK_DETAILS  10455 non-null  object
 19  LOCALITY_WO_CITY            10521 non-null  object
dtypes: float64(2), int64(5), object(13)
memory usage: 1.9+ MB

# **AGE**

In [629]:
mapping = {
    1: '1-5',
    2: '5-10',
    3: '10+',
    5: 'Under Construction',
    6: '0-1'
}

df['AGE'] = df['AGE'].map(mapping)

In [630]:
df['AGE'].value_counts()

AGE
1-5                   3678
0-1                   2795
Under Construction    1779
5-10                  1582
10+                    685
Name: count, dtype: int64

# **FURNISH**

In [631]:
mapping = {
    1: 'Furnished',
    2: 'Unfurnished',
    4: 'Semi-furnished',
}

df['FURNISH'] = df['FURNISH'].map(mapping)

# **FACING**

In [632]:
df["FACING"].value_counts()

FACING
5    3643
3    2442
1    1439
0    1175
4     629
7     366
6     365
2     242
8     220
Name: count, dtype: int64

In [633]:
mapping = {
    1:'North',
    2:'South',
    3:'East',
    4:'West',
    5:'North-East',
    6:'North-West',
    7:'South-East',
    8:'South-West',
}

df['FACING'] = df['FACING'].map(mapping)

In [634]:
df.drop(columns=['FEATURES'], inplace=True)

# **Floor Num**

In [635]:
df.loc[df[df['FLOOR_NUM']=='B'].index,'FLOOR_NUM']=-1

In [636]:
df.loc[df[df['FLOOR_NUM']=='G'].index,'FLOOR_NUM']=0

In [637]:
df.loc[df[df['FLOOR_NUM']=='L'].index,'FLOOR_NUM']=0

In [638]:
df[df['FLOOR_NUM'].isna()]

,PREFERENCE,PROPERTY_TYPE,OWNTYPE,BEDROOM_NUM,BATHROOM_NUM,BALCONY_NUM,FURNISH,FACING,AGE,FLOOR_NUM,TOTAL_FLOOR,SUPERBUILTUP_SQFT,MAP_DETAILS,AMENITIES,TOP_USPS,PRICE,PROP_HEADING,FORMATTED_LANDMARK_DETAILS,LOCALITY_WO_CITY
8898,S,Independent House/Villa,1,5.0,5,4.0,Unfurnished,South-East,1-5,NaN,NaN,3600 sq.ft.,"{'LATITUDE': '28.516117', 'LONGITUDE': '76.999...","8,10,44,23,1,46,47,6,28,43,12,3","['Private Garden', 'Gated Society', 'Fitness C...",9.5 Cr,5 Bedroom House in Sector 109 Gurgaon,"[{'category': 'MetroStation', 'text': '1 Metro...",Sector 109
10341,S,Independent House/Villa,1,5.0,6,4.0,NaN,East,1-5,NaN,NaN,4500 sq.ft.,"{'LATITUDE': '28.514331', 'LONGITUDE': '76.996...","17,5,8,23,46,28,19,1,6,9,40,41,43,12,3","['East Facing', 'Private Garden', 'Overlooking...",11.5 Cr,5 Bedroom House in Sector 109 Gurgaon,"[{'category': 'MetroStation', 'text': '1 Metro...",Sector 109

# **MAP DETAILS**

In [639]:
df['MAP_DETAILS']=df['MAP_DETAILS'].str.replace('{','',regex=True).str.replace('}','').str.split(',').str[0:2]

In [640]:
lat=df['MAP_DETAILS'].str.get(0).str.split(':').str[1]

In [641]:
lon=df['MAP_DETAILS'].str.get(1).str.split(':').str[1]

In [642]:
location=pd.DataFrame({'LATITUDE':lat,'LONGITUDE':lon})

In [643]:
df.drop('MAP_DETAILS',axis=1,inplace=True)

# **AMENITIES**

In [644]:
mapping = {
    25: "Waste Disposal",
    26: "Rain Water Harvesting",
    28: "Bank Attached Property",
    2: "Power Back-up",
    5: "Feng Shui / Vaastu Compliant",
    8: "Private Garden / Terrace",
    10: "Centrally Air Conditioned",
    17: "Security / Fire Alarm",
    20: "Intercom Facility",
    24: "Water Storage",
    29: "Piped-gas",
    32: "Water purifier",
    39: "Near Bank",
    1: "Swimming Pool",
    3: "Club house / Community Center",
    6: "Park",
    9: "Security Personnel",
    12: "Fitness Centre / GYM",
    19: "Visitor Parking",
    21: "Lift(s)",
    23: "Maintenance Staff",
    33: "Shopping Centre",
    34: "WheelChair Accessibility",
    35: "DG Availability",
    36: "CCTV Surveillance",
    37: "Grade A Building",
    38: "Grocery Shop",
    11: "ATM",
    13: "Cafeteria / Food Court",
    15: "Bar / Lounge",
    16: "Conference room",
    22: "Service / Goods Lift",
    27: "Access to High Speed Internet"
}

In [645]:
def clean_features(x):
    if pd.isna(x):
        return []

    nums = []
    for i in str(x).split(','):
        i = i.strip()
        if i.isdigit():
            i = int(i)
            if i in mapping:
                nums.append(mapping[i])
    return nums

df['FEATURES_LIST'] = df['AMENITIES'].apply(clean_features)

In [646]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()

features_encoded = pd.DataFrame(
    mlb.fit_transform(df['FEATURES_LIST']),
    columns=mlb.classes_,
    index=df.index
)

In [647]:
df.drop(columns=['AMENITIES', 'FEATURES_LIST'], inplace=True)

In [649]:
df.drop(['TOP_USPS','FORMATTED_LANDMARK_DETAILS','OWNTYPE'],axis=1,inplace=True)

In [650]:
df.columns

Index(['PREFERENCE', 'PROPERTY_TYPE', 'BEDROOM_NUM', 'BATHROOM_NUM',
       'BALCONY_NUM', 'FURNISH', 'FACING', 'AGE', 'FLOOR_NUM', 'TOTAL_FLOOR',
       'SUPERBUILTUP_SQFT', 'PRICE', 'PROP_HEADING', 'LOCALITY_WO_CITY'],
      dtype='object')

In [652]:
df.to_csv('Gurgaon.csv')
location.to_csv('Location.csv')